<div class="container-resrvations">
  <div class="reservastions-title-container">
    <h2 class="main-title">Reservations</h2>
  </div>
  <body>
    <form (ngSubmit)="onSubmit()">
      <div class="options-make-reservation">
        <div class="form-group option-park">
          <label for="park">Park</label>
          <select name="park" [(ngModel)]="park" id="park" size="1" class="form-select parks-select">
            <option selected disabled hidden>Select</option>
            <option *ngFor="let park of parks" value="{{ park.id }}">{{ park.name }}</option>
          </select>
        </div>
        <div class="form-group option-date">
          <label for="park-date">Date</label>
          <div class="input-group col-10">
            <input name="date" [(ngModel)]="date" class="form-control inputbox calender-box" type="text" id="park-date" matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle matSuffix [for]="picker" class="btn btn-primary boton"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
        </div>
        <div class="button-container">
          <button type="submit" class="btn btn-primary button-search">Search</button>
        </div>
      </div>
    </form>
    <div class="display-reservations">
      <br />
      <div class="tableFixHead">
        <table class="table table-light table-hover">
          <thead>
            <tr class="table-dark">
              <th scope="col">Party</th>
              <th scope="col">User Name</th>
              <th scope="col">User Email</th>
              <th scope="col">Confirm Code</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reservation of reservations">
              <th scope="row">{{ reservation.numOfGuests }}</th>
              <td>{{ reservation.name }}</td>
              <td>{{ reservation.email }}</td>
              <td>{{ reservation.confirmCode }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="summary-reservation">
        <h3>capacity day: <b>{{  summary.capacityDay }}</b></h3>
        <h3>Guests: <b>{{  summary.ConfirmGuest }}</b></h3>
        <h3>Remain Capacity: <b>{{  summary.remainingCapacity }}</b></h3>
      </div>
    </div>
  </body>
</div>
