/* You can add global styles to this file, and also import other style files */
* {
  margin: 0%;
  padding: 0%;
}

html {
  min-height: 100vh;
}

.ng-sidebar {
  background-color: rgb(75, 75, 75);
  width: 40vh;
}
