<div class="container-capacities" *ngIf="!isLoading || isEmpty">
  <div class="container-create-capacity">
    <div class="titles-capacity">
      <H2 class="title-capacity">Capacity Park</H2>
      <h4 class="title-park">{{ park.name }}</h4>
      <h4 class="title-park">
        Full Capacity: <b>{{ park.capacity }}</b>
      </h4>
    </div>
    <a routerLink="/capacity-park/{{ id }}/create">
      <button type="button" class="btn btn-primary create-capacity">New Capacity Day</button>
    </a>
  </div>
  <div class="views-capacity">
    <div class="card-capacity" *ngFor="let capacityDay of capacityDays">
      <div class="card-capacity-body">
        <h5 class="date-card">Date: {{ capacityDay.date }}</h5>
        <h6 class="capacity-day">Capacity Day: {{ capacityDay.dayCapacity }}</h6>
        <div class="container-btn-parks">
          <a href="#">
            <button type="button" class="edit-buttom btn btn-primary">Edit Capacity</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="loading-page" *ngIf="isLoading">
  <h3>Loading...</h3>
</div>
