<div class="container-capacities">
  <div class="container-create-capacity">
    <div class="titles-capacity">
      <H2 class="title-capacity">Capacity Park</H2>
      <h4 class="title-park">Park One</h4>
    </div>
    <button type="button" class="btn btn-primary create-capacity">New Capacity Day</button>
  </div>
  <div class="views-capacity">
    <div class="card-capacity">
      <div class="card-capacity-body">
        <h5 class="date-card">Date: 2021-10-21</h5>
        <h6 class="capacity-day">Capacity: 2000</h6>
        <div class="container-btn-parks">
          <a href="#">
            <button type="button" class="edit-buttom btn btn-primary">Edit Capacity</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
