.text{
    font-size: 24px;
}
.box {
  margin-top: 20px;
}
.title {
  margin-bottom: 30px;
}
.boxbtn{
    justify-content: center;
}
.btnconfirm{
    margin: 0% 0% 0% 40%;
    width: 200px;
}

.inputbox{
    height: 50px;
}

.boton{
    height: 49px;
}

.capacity-input {
  height: 50px;
}
