<nav class="navbar navbar-light bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/parks" style="color: aliceblue">SGF Admin Console</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" style="background-color: aliceblue">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 style="color: black" class="offcanvas-title menu-offcanva" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active options-nav" aria-current="page" routerLink="/parks">Parks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link options-nav" routerLink="/reservations">Reservation</a>
          </li>
          <li class="nav-item sign-out">
            <a class="nav-link options-nav" (click)="signOut()">
              <button class="btn btn-danger">Sign Out</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
