<div class="container">
  <h2>Create Parks</h2>
  <br />
  <form (ngSubmit)="onSubmit()">
    <input required name="name" [(ngModel)]="name" class="form-control form-control-lg" type="text" placeholder="Park Name" aria-label=".form-control-lg example " />
    <br />
    <input name="capacity" [(ngModel)]="capacity" class="form-control form-control-lg" type="number" placeholder="Full capacity" aria-label=".form-control-lg example" />
    <br />
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
      <textarea name="description" [(ngModel)]="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="bt container">
      <button type="submit" class="btn btn-primary">Create Park</button>
    </div>
  </form>
</div>
