<div class="container-parks">
  <div class="container-create-parks">
    <H2 class="title-park">Parks</H2>
    <button type="button" class="btn btn-primary create-park">Create Park</button>
  </div>
  <div class="views-parks">
    <div class="card-parks">
      <div class="card-parks-body">
        <h5 class="park-name">Park One</h5>
        <h6 class="capacity-park">3000</h6>
        <p class="description-parks">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="container-btn-parks">
          <a href="#">
            <button type="button" class="edit-buttom btn btn-primary">Edit Park</button>
          </a>
          <a href="#">
            <button type="button" class="capacity-buttom btn btn-primary">Capacity Day</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
